.body-wrap {
    min-height: 100vh;
    margin: 0;
}
  
.header-wrap {
    min-height: 50px;
}
  
.footer-wrap {
    min-height: 50px;
}
  
  
/* The article fills all the space between header & footer */
  
.body-wrap {
    display: flex;
    flex-direction: column;
}
  
.content-wrap {
    flex: 1;
}